// COLOR
$color-primary:#000000;
$primary-light:#757575;
$color-dim:#6D6E71;
$color-white:#ffffff;
$color-secondary:#F32F30;
$color-bg:#f5f5f5;
$color-bg-text:#B6B6B6;
$color-blue:#174BDD;
$blue-light-1:#2B79F7;
$blue-light:#96A5CD;
$color-grey:#e3e3e3;
$color-error:#FFC000;
$color-heading:#3b3b3b;
$color-nav:#27293d;
$color-light:#ffffff;
$color-focus:#E6E9F3;
$color-border:#E2E2E2;
$red-light:#FFEAEE;
$color-green:#5ACE52;
$green-light:#f4fcf3;
$green-highlight:#E8F8E7;
$grey-light: #BDBDBD;
$shadow-color: #00000029;
$dark-blue: #002CA6;
// font-family

$openSanse:'Open Sans', sans-serif;
 
//Break point
$mb-sm:375px;
$mb-md:480px;
$mb-lg:576px;
$mb-xl:767px;
$pt-tab:768px;
$md-tab:768px 991px;
$lg-tab:991px;
$ls-tab:1024px;
$desktop:1200px;
$md-desktop:1440px;
$lg-desktop: 1640px;








