<<<<<<< HEAD
.page-wrap{
    .pagination{
        margin-top: 80px;
        padding-bottom: 10px;
        .pagination-link-wrap{
            @include flexCenter;
            .pagination-center{
                max-width: 400px;
                .active{
                    background: lighten($blue-light, 10%);
                }
                a{
                    font-size: 0.875rem;
                    padding: 8px 16px;
                    text-decoration: none;
                    transition: background-color .3s;
                    &:hover{
                        background: lighten($blue-light, 20%);
                        color: $color-nav;
                    }
                }
            }

        }
    }
}

/* less than 767px; */
@media only screen and (max-width: $mb-xl){
    .page-wrap{
        .pagination{
            .pagination-link-wrap{
                .pagination-center{
                    a{
                        padding: 4px 8px;
                    }
                }
            }
        }
    }
=======
.page-wrap{
    .pagination{
        margin-top: 80px;
        padding-bottom: 10px;
        .pagination-link-wrap{
            @include flexCenter;
            .pagination-center{
                max-width: 400px;
                .active{
                    background: lighten($blue-light, 10%);
                }
                a{
                    font-size: 0.875rem;
                    padding: 8px 16px;
                    text-decoration: none;
                    transition: background-color .3s;
                    &:hover{
                        background: lighten($blue-light, 20%);
                        color: $color-nav;
                    }
                }
            }

        }
    }
}

/* less than 767px; */
@media only screen and (max-width: $mb-xl){
    .page-wrap{
        .pagination{
            .pagination-link-wrap{
                .pagination-center{
                    a{
                        padding: 4px 8px;
                    }
                }
            }
        }
    }
>>>>>>> 27827056134716d4785a34912ef3d7223824891f
}