.bootstrap-select {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    box-shadow: none !important;
    .dropdown-toggle {
        border: 1px solid #ced4da;
        padding: .375rem .75rem;
        height: calc(2.25rem + 2px);
        font-size: 15px;
        line-height: 26px;
        margin: 0;
        &::after{
            right: 10px;
            position: absolute;
            top: 17px;
        }
        &:active,
        &:focus{
            outline:none;
        }
    }
    .bs-searchbox,
    .bs-actionbox,
    .bs-donebutton{
        padding: 0 0 5px 0;
        border-bottom: 1px solid $color-bg;
        position: relative;
    }
    .dropdown-menu{
        margin-top:0;
        &.show{
            display: none;
            .dropdown-menu.inner{
                display: block;
            }
        }
        li{
            &.selected{
                a{
                    background-color: $color-bg !important;
                    color:$color-primary !important
                }
            }
            &.active{
                a{
                    background-color: transparent;
                }
            }
            
        }
        .notify{
            background-color:$color-primary !important;
            color: $color-white !important;
            border: none !important
        }

    }
    .bs-searchbox{
        position: relative;
        padding: 10px;
        &:after{
            font-size: 20px;
            content: '\f1c3';
            font-family: 'LineAwesome';
            position: absolute;
            top: 14px;
            right: 20px;
        }
    }
}


