.banner {
    min-height: 750px;
    background-size: content;
    background-position: 50% 100% !important;

    .banner-content {
        margin-top: 7rem;

        .logos {
            @include flexvr;
            align-items: flex-start;
            padding-right: 2rem;

            figure {
                margin-top: 2rem;
                max-width: 90px;
                cursor: pointer;
            }
        }

        .intro {
            margin-top: 2rem;
            padding-left:8rem;

            h1 {
                font-weight: 800;
                font-size: 2.5rem;
                text-transform: uppercase;
                line-height: 1.3;
            }

            p {
                margin: 2rem 0 0 0;
                font-size: 1rem;
                font-weight: 600;
                color: $primary-light;
                line-height: 1.7;
            }
        }
    }

}

.home-slider {
    margin-top: 5rem;
    margin-bottom: 120px;

    .intro-slider {
        .intro-item {
            text-align: center;

            .figure {
                min-height: 550px;
                display: block;
                background-size: cover;
                background-repeat: no-repeat;
            }

            h3 {
                margin-top: 3rem;
                font-size: 1.5rem;
                color: $color-blue;
                font-weight: 600;
            }

            &.slick-slide {
                height: auto;
            }
        }

    }
}

.slick-slider {
    .slick-prev {
        margin-top: -100px;

        &::before {
            content: 'keyboard_backspace';
            font-family: 'Material Icons';
            color: $primary-light;
            line-height: 1.5;
            font-size: 2rem;

        }
    }

    .slick-next {
        @include rotated(rotate(180deg));
        margin-top: -100px;

        &::before {
            content: 'keyboard_backspace';
            font-family: 'Material Icons';
            color: $primary-light;
            line-height: 1.5;
            font-size: 2rem;

        }
    }

}

.video-section {
    background-color: $green-highlight;

    .video {
        // min-height: 470px;
        position: relative;
        background-size: cover;
        background-position: center center;

        iframe {
            max-width: 640px;
            width: 100%;
        }

        .overlay {
            background-color: rgba($color-blue, .6);
        }

        a {
            @include translatey;
            left: 0;
            right: 0;
            max-width: 70px;
            @include radius(50%);
            color: $color-white;
            font-size: 5rem;
            margin: 0 auto;
        }
    }

    .video-content {
        padding-left: .5rem;

        p {
            margin: 2rem 0 0 0;
            line-height: 1.8;
        }
    }
}

.glimps-counter {
    position: relative;
    min-height: 768px;
    @include flexvr;
    background-position: 50% 100% !important;

    .overlay {
        background-color: rgba($color-blue, 90%);

    }

    .glimps-wrapper {
        position: relative;
        z-index: 1011;
        text-align: center;
        width: 100%;

        .openspace-title {
            position: relative;
            color: $color-white;
            max-width: 524px;
            margin: 0 auto 8rem auto;


        }

    }

    .glimps-count {
        h4 {
            color: $color-white;
            -webkit-text-fill-color: $color-blue;
            /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $color-white;
            font-size: 3.5rem;
            font-weight: 800;
        }

        h6 {
            color: $color-white;
            font-size: 1rem;
            font-weight: 700;
        }
    }

    @media screen and (min-width:280px) {
        .container {
            .row {
                align-items: center;
                justify-content: center;
            }

            .col-space-5 {
                -ms-flex: 0 0 100;
                flex: 0 0 100%;
                max-width: 100%;
                margin-bottom: 2rem;
            }
        }
    }

    @media screen and (min-width:$pt-tab) {
        .container {
            .row {
                align-items: center;
                justify-content: center;
            }

            .col-space-5 {
                -ms-flex: 0 0 33.333333%;
                flex: 0 0 33.333333%;
                max-width: 33.333333%;
            }
        }
    }

    @media screen and (min-width:1400px) {
        .container {
            max-width: 1366px;

            .col-space-5 {
                -ms-flex: 0 0 20%;
                flex: 0 0 20%;
                max-width: 20%;
            }
        }
    }
}

.process {
    .col-md-6 {
        position: relative;
    }

    .process-left {
            position: sticky;
            position: -webkit-sticky;
            top: 0;
            padding-right: 11rem;

        p {
            margin-top: 2rem;
            line-height: 1.8;
        }
    }

    .process-content {
        .post-meta {
            margin-bottom: 3rem;
            text-align: center;

            figure {
                margin-bottom: 2rem;
                @include boxshadow(0 15px 30px rgba(0,0,0,.16));
            }

            h5 {
                font-weight: 600;
                font-size: 1.2rem;

                span {
                    color: $color-green;
                    margin-right: .5rem;
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.app-section {
    background-color: $color-blue;

    .openspace-title,
    .sub-title {
        color: $color-white;
    }

    .sub-title {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.5rem;
    }

    .app-figure {
        margin: 0;
        max-width: 400px;
    }

    .app-content {
        .app-icons-content {
            margin-top: 3rem;

            h4 {
                color: $color-white;
                font-size: 1.2rem;
                font-weight: 700;
            }

            .app-icon {
                margin-top: 1rem;

                figure:first-child {
                    margin-right: 1rem;
                }
            }

            a.openspace-button {
                background-color: lighten($color-blue, 8%);
                clear: both;
                margin-bottom: 2rem;
            }

        }
    }
}






@media screen and (max-width:1640px) {

    .banner {
        min-height: 580px;

        .banner-content {
            margin-top: 2rem;

            .logos {

                figure {
                    margin-top: 1.5rem;
                }
            }
            .intro{
                h1 {
                    font-size: 2.2rem;
                }
    
                p {
                    margin: 1.5rem 0 0 0;
                }
            }
        }

    }
}

@media screen and (max-width:1366px) {
    .banner {
        .banner-content {
            .logos {

                figure {
                    margin-top: 1.5rem;
                }
            }
        }

    }
}

@media screen and (max-width:$ls-tab) {
    .banner {
        min-height: 650px;

        .banner-content {
            .intro {
                padding-left: 0;
            }
        }

    }

    .slick-slider {
        .slick-prev {
            margin-top: -100px;
            left: 1rem;

            &::before {
                color: $color-blue;

            }
        }

        .slick-next {
            right: 1rem;

            &::before {
                color: $color-blue;

            }
        }

    }
}

@media screen and (max-width:$lg-tab) {
    .banner {
        min-height: 600px;

        .banner-content {
            margin-top: 2rem;

            .intro {
                margin-top: 0;
            }
        }

    }

    .home-slider {
        margin-top: 5rem;
        margin-bottom: 70px;

        .intro-slider {
            .intro-item {

                .figure {
                    min-height: 400px;
                }

                h3 {
                    margin-top: 3rem;
                }
            }

        }
    }

    .video-section {
        padding: 4rem 0;

        .video {
            min-height: 400px;
        }

        .video-content {
            padding-left: .5rem;

            p {
                margin: 2rem 0 0 0;
                font-size: 1rem;
            }
        }
    }

    .glimps-counter {
        position: relative;
        min-height: 600px;
        padding: 4rem 0;

        .glimps-wrapper {
            .openspace-title {
                margin-bottom: 5rem;
            }

        }

        .glimps-count {
            h4 {
                font-size: 3rem;
            }

            h6 {
                font-size: 1.2rem;
            }
        }
    }

    .process {
        padding: 4rem 0;

        .process-content {
            .post-meta {
                margin-bottom: 2rem;

                h5 {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .app-section {
        padding-top: 4rem;
        margin-bottom: 0;
    }
}

@media screen and (max-width:$mb-xl) {
    .banner {
        .banner-content {
            margin-top: 1rem;

            .logos {
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-around;
                align-items: center;

                figure {
                    margin-top: 0;
                    max-width: 100px;

                    &:nth-child(2) {
                        margin: 0 1rem;
                    }
                }
            }

            .intro {
                margin-top: 1rem;
                padding-left: 0;

                h1 {
                    font-size: 1.5rem;
                    line-height: 2.2rem;
                }

                p {
                    font-size: .875rem;
                    margin-top: 1rem;
                }
            }
        }

    }

    .home-slider {
        margin-top: 2rem;

        .intro-slider {
            .intro-item {

                .figure {
                    min-height: 300px;
                }

                h3 {
                    margin-top: 2rem;
                    font-size: 1.2rem;
                }
            }

        }
    }

    .video-section {
        .video {
            min-height: 300px;
        }

        .video-content {
            padding-left: 0;
            margin-top: 3rem;

            p {
                margin-top: 1rem;
            }
        }
    }

    .glimps-counter {
        min-height: 400px;

        .glimps-wrapper {
            .openspace-title {
                margin-bottom: 2rem;
                max-width: 300px;
            }

        }

        .glimps-count {
            h4 {
                font-size: 2.5rem;
            }

            h6 {
                font-size: 1rem;
            }
        }
    }

    .process {
        .process-content {
            .post-meta {
                margin-bottom: 1.5rem;

                h5 {
                    font-size: 1rem;
                }
            }
        }
    }

    .app-section {
        .sub-title {
            font-size: 1rem;
        }

        .app-figure {
            margin-bottom: 3rem;
        }

        .app-content {
            .app-icons-content {
                margin-top: 2rem;

                h4 {
                    font-size: 1rem;
                }

                .app-icon {
                    figure:first-child {
                        margin-right: 0;
                    }
                }

            }
        }
    }
}

@media screen and (max-width:$mb-md) {
    .banner {
        padding-bottom: 3rem;

        .banner-content {
            .logos {
                figure {
                    margin-top: 0;
                    max-width: 80px;
                }
            }
        }

    }
}