.openSpace-map {
    padding: 0;

    .routeWrapper {
        max-width: 200px;
        width: 200px;
        max-height: 180px;
        overflow-y: auto;
        margin-right: 5rem;
        background-color: $color-white;
        padding: 0;
        &.leaflet-control{
            margin:0 !important;
        }
        

        #legendtitle {
            background: transparent;
            color: $color-primary;
            text-transform: uppercase;
            font-weight: 600;
            border-bottom: 1px solid $color-border;
            margin-bottom: .5rem;
            font-size: .775rem;
            text-align: left;
            padding: .5rem .6125rem;
        }

        .desccard {
            padding: .6125rem;
            h6{
                font-weight: 600;
                font-size: .875rem;
            }

            &.pathactive {
                background-color: $green-highlight;
            }
        }

    }

    .marker-cluster-small,
    .marker-cluster-medium,
    .marker-cluster-large {
        background-color: rgba($color-blue, .4) !important;
        @include flexvr;

        div {
            background-color: $color-blue;
            width: 24px;
            height: 24px;
            margin: 0;
            @include flexvr;
            span{
                color:$color-white;
            }
        }
    }

    .marker-cluster-small {
        width: 36px;
        height: 36px;

        div {
            width: 26px;
            height: 26px;
        }
    }

    .marker-cluster-medium {
        width: 40px;
        height: 40px;

        div {
            width: 30px;
            height: 30px;
        }
    }

    .marker-cluster-large {
        width: 44px;
        height: 44px;

        div {
            width: 34px;
            height: 34px;
        }
    }

    // .marker-cluster-large {
    //     background-color: rgba(181, 179, 179,0.9);
    // }
    // .marker-cluster-large div {
    //     background-color: rgba(0, 98, 142, 0.9);
    // }
    // .marker-cluster span {
    //     color:$color-white !important;
    // }
    .container-fluid {
        max-width: 100%;
        padding: 0;
    }

    .map-wrapper {
        position: relative;
        width: 100%;



        .leaflet-control-container {
            .leaflet-left {
                left: auto;
                right: 3rem;

                &.leaflet-top {
                    top: auto;
                    bottom: 5rem;

                }

                .leaflet-bar {
                    border: none;

                    a {
                        width: 36px;
                        height: 36px;
                        line-height: 36px;
                        color: $primary-light;
                        @include animate_all(all .5s);

                        &:hover {
                            background-color: $green-highlight;
                            color: $color-green;
                        }
                    }

                }
                &.leaflet-bottom{
                    right:7rem;
                }

            }

            .leaflet-control-layers-toggle {
                width: 36px;
                height: 36px;
                background-size: 16px 16px;
            }

            // .leaflet-right{
            //     right:3rem;
            //     &.leaflet-top{
            //         top:0;
            //         bottom: auto;
            //     }
            //     .leaflet-control{
            //         margin:0;
            //     }
            // }

        }

        .leaflet-popup.popupCustom {
            left: auto !important;
            right: 0rem !important;
            bottom: 0 !important;
        }

        .leaflet-popup-content-wrapper {
            font-size: 16px;
            line-height: 24px;
            border-radius: 0;
            background-color: $color-blue;

            .leaflet-popup-content {
                width: 300px !important;
                overflow: auto;
                margin: 0;
                padding: .6125rem;

                a {
                    color: $color-white;
                    text-transform: capitalize;
                    padding: 0.275rem 0.5rem;
                    font-size: 0.775rem;
                }

                .bind-header {
                    margin-bottom: 0.5rem;

                    h5 {
                        font-size: 0.745rem;
                        color: $color-white;
                        text-transform: capitalize;
                        margin-bottom: 0.2rem;
                    }

                    p {
                        margin: 0;
                        font-size: 0.675rem;
                        line-height: 1;

                        span,
                        i {
                            font-weight: 600;
                            margin-right: 0.25rem;
                            color: $color-white
                        }
                    }

                    em {
                        font-size: 0.675rem;
                        line-height: 0.875;

                        span {
                            font-weight: 600;
                            margin-right: 0.25rem;
                            color: $color-white
                        }
                    }
                }
            }
        }

        .leaflet-popup-tip-container {
            background-color: transparent;
            border-bottom: 1.5rem solid transparent;
            border-left: 1.5rem solid darken($color-blue, 10%);
            width: auto;
            height: auto;
            left: auto;
            right: 0;

            .leaflet-popup-tip {
                display: none;
            }
        }

        .leaflet-popup-close-button {
            color: $color-white;
        }

        .leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
            z-index: 1;
            height: calc(100vh - 165px);
        }

        .leaflet-container {
            z-index: 1;

        }


        .map-sidebar {
            // position: absolute;
            // right: 0;
            // top: 0;
            // z-index: 2;
            // max-width: 50%;
            // width: 50%;

            .sidebar-toggle {
                // position: absolute;
                // width: 40px;
                // height: 40px;
                // @include flexvr;
                // background-color: $color-blue;
                // top:0;
                // left: -40px;
                // z-index: 3;
                // cursor: pointer;

                // i.material-icons {
                //     font-size: 2rem;
                //     font-weight: 700;
                //     color: $color-white;
                //         background-color: $color-blue;

                // }

                &.rotated {
                    i {
                        transform: rotate(180deg);
                    }
                }

                &:hover {
                    background-color: $color-green;
                    color: $color-white;

                    i {
                        background-color: $color-green;
                    }
                }
            }

            .overview-item {
                h6 {
                    font-weight: 700;
                    font-size: 1.2rem;
                    margin: 0 0 .5rem 0;
                }

                p {
                    color: $color-dim;
                    text-transform: capitalize;
                    font-size: .875rem;
                    margin: 0;
                }
            }

            .sidebar-wrapper {
                background-color: $color-white;
                @include boxshadow(0 5px 15px rgba(0, 0, 0, 0.16));
                width: 100%;
                padding: 2rem;
                overflow-y: auto;
                // height: calc(100vh - 165px);

                .sidebar-close {
                    position: absolute;
                    right: 2rem;
                    top: 1rem;
                    color: $color-dim;
                    font-size: 2rem;
                    cursor: pointer;

                    &:hover {
                        color: $color-green;
                    }
                }

                .report-status {
                    text-transform: capitalize;

                    label {
                        display: block;
                        margin: 0;
                        font-size: .775rem;
                    }

                    span {
                        color: $color-dim;
                        font-size: .745rem
                    }
                }

                .map-filter {

                    .filter-option {
                        display: flex;
                        text-align: center;
                        flex-wrap: nowrap;

                        .css-2b097c-container,
                        .css-14jk2my-container {
                            width: 100%;

                            &:nth-child(2) {
                                margin: 0 1rem;
                            }
                        }

                        .dropdown.bootstrap-select {
                            &:nth-child(2) {
                                margin: 0 1rem;
                            }
                        }
                    }

                    .reset-btns {
                        @include flexEnd;
                        align-items: center;
                        margin-top: 1rem;

                        .openspace-button {
                            padding: .5rem 1rem;
                        }

                        .reset {
                            @include flexStart;
                            margin-right: 1rem;
                            color: $color-dim;
                            text-transform: capitalize;
                            cursor: pointer;

                            i {
                                margin-right: .5rem;
                            }

                            &:hover {
                                color: $color-green;

                                i {
                                    color: $color-green
                                }
                            }
                        }
                    }
                }
            }

            .report-count {
                h5 {
                    color: $color-dim;
                    font-size: 1.5rem;
                    text-transform: capitalize;

                    span {
                        color: $color-blue;
                        font-weight: 700;
                    }
                }
            }

            .report-list {

                ul {
                    li {
                        @include flexBetween;
                        margin: 1.5rem 0 0 0;
                        cursor: pointer;

                        .report-content {
                            h5 {
                                font-size: 1rem;
                                font-weight: 700;
                                @include flexStart;
                                align-items: center;
                                margin-bottom: .25rem;

                                i {
                                    margin-left: .5rem;
                                }
                            }

                            .loc-time {
                                font-size: .775rem;

                                a {
                                    color: $color-blue;
                                    font-weight: 600;
                                    text-transform: capitalize;

                                    &::after {
                                        content: '|';
                                        color: $color-dim;
                                        margin: 0 .5rem;
                                        display: inline-block;
                                    }
                                }

                                time {
                                    color: $color-dim;
                                    font-size: .745rem
                                }
                            }
                        }
                    }
                }
            }

            .space-list {
                ul {
                    li {
                        @include flexBetween;
                        margin: 1.5rem 0 0 0;
                        align-items: center;

                        .space {
                            @include flexStart;
                            align-items: center;
                            -ms-flex: 0 0 80%;
                            flex: 0 0 80%;
                            max-width: 80%;

                            figure {
                                max-width: 70px;
                                margin: 0 1rem 0 0;
                            }

                            .space-content {
                                width: 100%;
                                padding-right: 3rem;
                                cursor: pointer;

                                h5 {
                                    font-size: 1rem;
                                    font-weight: 700;
                                    margin-bottom: .25rem;
                                }

                                p {
                                    margin: 0;
                                    color: $color-dim;
                                    font-size: .775rem;
                                    @include flexBetween;
                                    align-items: center;

                                    i {
                                        font-size: 1rem;
                                        line-height: 1.5rem;
                                        margin-right: .5rem;
                                    }

                                    span {
                                        font-weight: 300;
                                        @include flexStart;
                                        align-items: center;
                                    }
                                }
                            }
                        }

                        .space-direction {
                            color: $color-dim;
                            -ms-flex: 0 0 20%;
                            flex: 0 0 20%;
                            max-width: 20%;

                            i {
                                @include flex;
                                align-items: flex-end;
                                justify-content: flex-end;
                                cursor: pointer;

                                &:hover {
                                    color: $color-green;
                                }
                            }
                        }
                    }
                }

                &.nearby-list {
                    ul {
                        li {
                            .space {
                                .space-content {
                                    padding-right: 0;
                                }
                            }
                        }
                    }
                }
            }

            .report-details {
                .report-details-heading {
                    h5 {
                        font-size: 1.2rem;
                        font-weight: 700;
                        @include flexStart;
                        align-items: center;
                        margin-bottom: .25rem;

                        i {
                            margin-left: .5rem;
                        }
                    }

                    .report-content {
                        @include flexBetween;
                        align-items: center;

                        .report-address {
                            p {
                                margin: 0;
                                align-items: center;

                                a {
                                    color: $color-blue;
                                    font-weight: 700;
                                    text-transform: capitalize;
                                    font-size: 1rem;

                                    &::after {
                                        content: '|';
                                        color: $primary-light;
                                        margin: 0 .5rem;
                                        display: inline-block;
                                    }

                                }

                                time {
                                    font-size: .875rem;
                                    color: $primary-light;
                                }

                                &.loc-time {
                                    margin: .5rem 0;
                                }

                                &.address {
                                    @include flexBetween;
                                    align-items: center;

                                    i {
                                        line-height: 1.5rem;
                                        margin-right: .5rem;
                                    }

                                    span {
                                        @include flexStart;
                                        align-items: center;
                                        font-size: .875rem;
                                    }
                                }
                            }


                        }
                    }
                }

                .report-email {
                    font-size: .875rem;
                    color: $color-dim;
                    font-weight: 400;
                    margin: 2rem 0;

                    p {
                        margin: 2rem 0;
                        line-height: 1.8rem;
                        font-weight: 400;
                    }

                    .reporter {
                        h6 {
                            font-weight: 400;
                            font-size: .875rem;
                            margin: .5rem 0 0 0;
                        }
                    }


                }

                .attached {
                    h5 {
                        font-size: 1rem;
                        font-weight: 700;
                        @include flexStart;
                        align-items: center;
                        margin-bottom: 1rem;
                        text-transform: uppercase;
                        color: $color-primary;

                        i {
                            margin-right: 1rem;
                            color: $color-error;
                        }
                    }

                    figure {
                        margin: 0;
                    }
                }
            }

            .space-details {


                .space {
                    @include flexBetween;
                    align-items: center;

                    .space-content {
                        width: 100%;
                        padding-right: 3rem;
                        cursor: pointer;

                        h5 {
                            font-size: 2rem;
                            font-weight: 800;
                            margin-bottom: .25rem;
                            color: $color-blue;
                            text-transform: uppercase;
                        }

                        p {
                            margin: 0;
                            color: $color-dim;
                            font-size: .875rem;
                            @include flexBetween;
                            align-items: center;

                            i {
                                font-size: 1rem;
                                line-height: 1.5rem;
                                margin-right: .5rem;
                            }

                            span {
                                @include flexStart;
                                align-items: center;
                            }
                        }
                    }

                    .space-direction {
                        color: $color-dim;
                        -ms-flex: 0 0 20%;
                        flex: 0 0 20%;
                        max-width: 20%;
                        @include flex;
                        align-items: flex-end;
                        justify-content: flex-end;

                        i {

                            cursor: pointer;

                            &:hover {
                                color: $color-green;
                            }
                        }
                    }
                }

                figure {
                    margin: 1rem 0 0 0;
                }

            }

            .space-chart {
                margin-top: 2rem;

                .chart-legend {
                    align-items: center;
                    margin-bottom: 1rem;

                    .legend-list {
                        align-items: center;

                        .symbol-content {
                            align-items: center;

                        }

                        span {
                            color: $color-dim;
                        }

                        .symbol {
                            width: 12px;
                            height: 12px;
                            margin-right: .6125rem;
                            background-color: $color-border;

                            &.usable-symbol {
                                background-color: $color-green;
                            }
                        }

                        &:first-child {
                            margin-right: 2rem;
                        }

                        .usable-percent {
                            margin-left: 1.5rem;
                        }
                    }
                }

                .chart-wrapper {
                    .chart-item {
                        position: relative;
                        width: 100%;
                        height: 30px;
                        background-color: $color-border;

                        &.usable {
                            background-color: $color-green;
                            position: absolute;
                            height: 100%;
                            left: 0;
                            top: 0;
                            bottom: 0;
                        }
                    }
                }
            }

            .input-group {
                border-bottom: 1px solid $color-border;
                margin: 2rem 0 1rem 0;

                .input-group-prepend {
                    .input-group-text {
                        background-color: transparent;
                        border: 0;

                        i {
                            color: $color-green;
                        }
                    }
                }

                input.form-control {
                    border: 0;
                    -webkit-outline: none;
                    outline: none;

                    &:focus {
                        -webkit-outline: none;
                        outline: none;
                        box-shadow: none;
                    }
                }

                .input-group-append {
                    .input-group-text {
                        background-color: $green-light;
                        border: 0;
                        border-radius: 0;
                        cursor: pointer;

                        i {
                            color: $color-green;
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            .general-info {
                .general-overview {
                    margin-top: 2rem;
                }

                .suggested-content {
                    h5 {
                        font-size: 1.5rem;
                        color: $color-blue;
                        font-weight: 700;
                        ;
                    }

                    .suggested-list {
                        padding: 0.6125rem;
                        margin: 1rem 0.25rem;

                        ul {
                            li {
                                @include flexStart;
                                align-items: center;
                                flex-wrap: nowrap;
                                color: $color-dim;
                                font-size: 1rem;
                                margin-bottom: .6125rem;

                                span {
                                    margin: 0 1rem;
                                }

                                i {
                                    &.humanitarian-icons {
                                        &::before {
                                            color: $color-dim;
                                        }
                                    }

                                    &.material-icons {
                                        &.check {
                                            color: $color-green;
                                        }

                                        &.cross {
                                            color: $color-secondary;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    p {
                        color: $color-dim;
                        font-size: 1rem;
                        margin: 0;

                        span {
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 3;
                            overflow: hidden;

                            &.text-expand {
                                display: inline-block;
                                -webkit-line-clamp: initial;
                            }
                        }

                        a {
                            color: $color-blue;
                        }
                    }
                }

                .assessment-list {
                    ul {
                        li {
                            @include flexStart;
                            color: $color-blue;
                            font-size: 1rem;
                            text-transform: uppercase;
                            margin-bottom: .6125rem;
                            cursor: pointer;
                            font-weight: 600;

                            i {
                                margin-left: .25rem;
                            }
                        }
                    }
                }
            }
        }

        .nearme-btn {
            margin: 2rem 0;

            .openspace-button {
                background-color: $green-highlight;
                color: $primary-light;
                @include flexStart;
                align-items: center;
                max-width: 188px;
                text-transform: initial;

                i {
                    color: $color-green;
                    margin-right: .6125rem;
                }

                &:hover {
                    background-color: $color-green;
                    box-shadow: none;
                    color: $color-white;

                    i {
                        color: $color-white;
                    }
                }
            }
        }
    }

    &.hide {

        .map-sidebar {
            display: none;
            opacity: 0;
        }


        .expand-icon {
            opacity: 1;
            visibility: visible;
        }
    }
}

.modal {
    .modal-content {
        padding: 2rem;

        .modal-header {
            border: 0;
            padding: 0 1rem;
            text-align: left;

            h5 {
                color: $color-blue;
                text-transform: capitalize;
                font-weight: 600;
                ;
            }

            button.close {
                font-size: 3rem;
                position: absolute;
                right: 2rem;
                top: 1rem;
                color: $color-dim;

                &:hover {
                    color: $color-green;
                }
            }
        }

        .modal-body {
            .assessment-modal-list {
                li {
                    @include flexStart;
                    margin-bottom: .6125rem;
                    font-size: .875rem;

                    span {
                        margin-right: 1rem;
                    }

                    i {
                        font-size: 1.2rem;
                        ;

                        &.check {
                            color: $color-green;
                        }

                        &.cross {
                            color: $color-secondary;
                        }
                    }
                }
            }
        }
    }
}

.dropdown.bootstrap-select {
    .dropdown-toggle {
        background-color: transparent;
        border: 1px solid $color-border;
        color: $primary-light;
        font-size: 1rem;
        border-radius: 0;
    }

    .dropdown-menu {
        padding: 0;
    }
}

@media screen and (max-width:$ls-tab) {
    .openSpace-map {

        .map-wrapper {
            .map-sidebar {

                .sidebar-wrapper {
                    padding: 0;

                    .sidebar-close {
                        right: 1rem;
                        font-size: 1.5rem;
                    }

                    .space-details {
                        .space {
                            .space-content {
                                h5 {
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:$lg-tab) {
    .openSpace-map {
        .map-wrapper {
            .map-sidebar {
                .sidebar-wrapper {
                    .space-list {
                        ul {
                            li {
                                .space {
                                    @include flexStart;
                                    align-items: center;
                                    -ms-flex: 0 0 90%;
                                    flex: 0 0 90%;
                                    max-width: 90%;

                                    .space-content {
                                        padding-right: 0;

                                        h5 {
                                            font-size: .875rem;
                                        }
                                    }
                                }

                                .space-direction {
                                    -ms-flex: 0 0 10%;
                                    flex: 0 0 10%;
                                    max-width: 10%;
                                }
                            }
                        }
                    }

                    .space-details {
                        .space {
                            .space-content {
                                padding-right: 0;
                            }
                        }
                    }

                    .report-list {

                        ul {
                            li {
                                flex-wrap: wrap;

                                .report-content {
                                    h5 {
                                        font-size: .875rem;
                                    }
                                }
                            }
                        }
                    }

                    .general-info {
                        .suggested-content {
                            h5 {
                                font-size: 1rem;
                            }

                            .suggested-list {

                                ul {
                                    li {
                                        font-size: .875rem;

                                        span {
                                            margin: 0 .6125rem;
                                        }
                                    }
                                }
                            }

                            p {
                                font-size: .875rem;
                            }
                        }

                        .assessment-list {
                            ul {
                                li {
                                    font-size: .875rem;
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}

@media screen and (max-width:$pt-tab) {
    .openSpace-map {
        .container-fluid {
            max-width: 100%;
            padding: 0 15px;
        }
    }
}