.page-wrap{
    button{
        padding: .5rem 1rem;
        &:hover{
            color:$color-white;
        }
    }
    .main-content{
        .row-wrap{
            margin-top: 50px;
            /* form-section */
            .form-section{
                padding-right: 20px;
                
                .input-group {
                    border-bottom: 1px solid $color-border;
                    margin: 0 0 3rem 0;
    
                    .input-group-prepend {
                        .input-group-text {
                            background-color: transparent;
                            border: 0;
    
                            i {
                                color: $color-green;
                                font-weight: 600;
                                &::before{
                                    color:$color-green;
                                }
                            }
                        }
                    }
    
                    input.form-control {
                        border: 0;
                        -webkit-outline: none;
                        outline: none;
    
                        &:focus {
                            -webkit-outline: none;
                            outline: none;
                            box-shadow: none;
                        }
                        @include input-placeholder {
                            font-size: .875rem;
                        }
                    }
    
                    .input-group-append {
                        .input-group-text {
                            background-color: $green-light;
                            border: 0;
                            border-radius: 0;
                            cursor: pointer;
    
                            i {
                                color: $color-green;
                                font-weight: 600;
                                &::before{
                                    color:$color-green;
                                }
                            }
                        }
                    }
                }

                .dropdown-select{
                    margin-top: 100px; 
                    
                    .css-2b097c-container{
                        .css-yk16xz-control,.css-lpahdxg-control{
                            border-radius: 0;
                        } 
                        
                        .css-1okebmr-indicatorSeparator{
                            display: none;
                        }
                    }
                    .categories-dropdown, .document-types-dropdown{
                        margin-bottom: 20px;
                        .bootstrap-select{
                            width: 100% !important;
                            @include border(1px, solid, $grey-light);
                        }
                        .dropdown-toggle{
                            padding: 5px 10px;
                            &:hover{
                                @include radius(0px);
                            }
                            .filter-option-inner-inner{
                                color: $primary-light;
                                font-weight: 600;
                                font-size: 0.875rem;
                            }
                            &::after{
                                color: $grey-light;
                                &:hover{
                                    color: $primary-light;
                                }
                            }
                        
                        }
                    }
                }
            }
            .map-filter{
                .reset-btns{
                    @include flex;
                    .flex-start{
                        align-items: center;
                    }
                    button{
                        &.openspace-button{
                            min-width: 100px;
                        }
                    }
                }
            }
            /* content-section */
            .content-section{
               
                .row-section-wrap{
                    @include animate_all(all .6s linear);
                    margin-bottom: 3rem;
                    border-bottom: 1px solid $color-bg-text;
                    padding-bottom: 10px;
                    .image-section{
                        background-size: cover;
                        max-width: 400px;
                        width: 100%;
                        height: 151px;
                        background-repeat: no-repeat;
                        background-position: center center;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        
                    }
                    .wrapper-content{
                        .content-wrap{
                            width: calc(100% - 30%);
                            float: left;
                            padding-right: 1rem;
                            .h3-title{
                                font-size: 1.1rem;
                                font-weight: 700;
                                margin-bottom: 10px;
                            }
                            span{
                                font-size: 0.775rem;
                                font-weight: 600;
                                display: block;
                                color: $primary-light;
                                padding-bottom: 20px;
                            }
                            p{
                                text-align: justify;
                                font-size: .875rem;
                                font-weight: 400;
                            }
                            #collapseExample{
                                &.collapse{
                                    &:not(.show) {
                                        display: block;
                                        height: 3.75rem;
                                        overflow: hidden;
                                    }
                                }
                                .collapsing{
                                    height: 3.75rem;
                                }
                            }
                            a{
                                font-size: .75rem;
                                padding: 10px 0;
                                &.collapsed{
                                    &:after{
                                        content: 'Show More';
                                    }
                                }
                                &:not(.collapsed){
                                    &:after{
                                        content: 'Show Less';
                                        font-size: 0.75rem;
                                    }
                                }
                            }
                        }
                        .download-section{
                            float: right;
                            width:30%;
                            .icon-wrap-section{
                                @include flex;
                                margin-bottom: 10px;
                                .btn{
                                    &.btn-download{
                                        padding: 0;
                                    }
                                    &:hover{
                                        cursor: pointer;
                                        i{
                                            background: lighten($color-bg-text, 10%);
                                            @include boxshadow($boxshadow:0 1px 2px rgba($color-bg-text, 0.40));
                                            
                                        }
                                    }
                                }
                                .btn-share{
                                    margin-right: 10px;
                                }
                                i{
                                    @include animate;   
                                    vertical-align: middle;
                                    font-size: 20px;
                                    border-radius: 50%;
                                    padding: 5px;
                                }
                                a{
                                    @include flexStart;
                                    align-items: center;
                                    div{
                                        margin-right: .25rem;
                                    }
                                }
                                
                            }
                            .para-wrap-section{
                                .para-details-block{
                                    margin-bottom: 15px;
                                    &:nth-child(2){
                                        margin-bottom: 0px;
                                    }
                                    .title{
                                        font-size: 0.75rem;
                                        font-weight: 600;
                                        color: $primary-light;
                                        padding-bottom: 5px;
                                        display: block;
                                    }
                                    .subtitle{
                                        font-size: 0.625rem;
                                        font-weight: 700;
                                        display: block;
                                        text-transform: uppercase;
                                    }
                                }
                            }
                        }
                    }
                    &:hover{
                        background: $color-bg;
                    }
                }
                .btn-wrap{
                    text-align: center;
                    button{
                        &.openspace-button{
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
}


/* less than 991px; */
@media only screen and (max-width: $lg-tab){
    .page-wrap {
        .main-content{
            .row-wrap {
                .map-filter{
                    .reset-btns{
                        @include flex;
                        flex-direction: column;
                        .reset{
                            margin-bottom: 10px;
                        }
                    }
                }
                .form-section{
                    padding-right: 0px;
                    .dropdown-select{ 
                        .categories-dropdown, .document-types-dropdown{
                            .dropdown-toggle{
                                padding: 2px 8px;
                            }
                        }
                    }
                }
                .content-section{
                    .row-section-wrap {
                        .wrapper-content{
                            .content-wrap{
                                width: calc(100% - 40%);
                            }
                        }
                    }
                }
            }
        }
    }
}

/* less than 768px; */
@media only screen and (max-width: $pt-tab){
    .page-wrap {
        .main-content{
            .row-wrap {
                .form-section{
                    padding-right: 0px;
                    .form-search{
                        .form-wrap{
                            padding-bottom: 5px;
                        }
                    }
                }

                .content-section{
                    .row-section-wrap {
                        .image-section{
                            padding-bottom: 10px;
                                /* img{
                                    height: 280px;
                                } */
                        }
                        .wrapper-content{
                            .content-wrap{
                                .h3-title{
                                    font-size: 1.25rem;
                                    margin-bottom: 5px;
                                }
                                .datetime{
                                    padding-bottom: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* less than 767px; */
@media only screen and (max-width: $mb-xl){
    .page-wrap {
        .main-content{ 
            .row-wrap {
                .map-filter{
                    .reset-btns{
                        @include flex;
                        flex-direction: row;
                        .reset{
                            margin-right: 20px;
                        }
                        button{
                            max-height: 38px;
                        }
                    }
                }
                .form-section {
                    margin-bottom: 60px;
                    .dropdown-select{
                        margin-top: 50px;
                    }
                }
                .content-section{
                    margin-top: 60px;
                    .row-section-wrap{
                        margin-bottom: 60px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        .image-section{
                            padding-bottom: 10px;
                            max-width: 100%;
                            width: 100%;
                            height: 280px;
                        }
                        .wrapper-content{
                            margin-top: 30px;
                            .content-wrap{
                                .download-section {
                                    @include flexvr;
                                    .icon-wrap-section{
                                        margin-bottom: 15px;
                                    }
                                    .para-wrap-section {
                                        text-align: center;
                                        .para-details-block{
                                            margin-bottom: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* less than 576px; */
@media only screen and (max-width: $mb-lg){
    .page-wrap {
        .main-content{ 
            .row-wrap {
                .content-section{
                    .row-section-wrap{
                        .wrapper-content{
                            .content-wrap{
                                width: calc(100% - 40%);
                            }
                        }
                    }
                }
            }
        }
    }
}