container .leaflet-map-pane .leaflet-marker-pane .leaflet-marker-icon i{
   
    animation: blink 1s linear infinite;
}
@keyframes blink{
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
   50% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
}

div.fade.modal.show{
    z-index: 999999999;

}

.glimpse-hover:hover {
    cursor: pointer;
    background: lighten(#2562d0, 5%);
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 2rem;
    transition:  all .4s ease-in-out;
}
