/* .css-2b097c-container {
    max-width:  400px !important;
    min-width: 150px;
    width: auto;
 }
.css-14jk2my-container{
    max-width:  350px;
    min-width: 150px;

} 







#north{
    height: 50px;
    width: 50px;
} */

.loc{
    width:20px;
    height:20px;
}
#close-bt-route{
    width:20px;
    height:20px;
}
#shortest{
    width:10px;
    height:10px;
    margin-right: 5px;
}
.desccard h5 {
    color: green;
    font-size: 12px;
}
.legend .blue{
    width: 20px;
    height: 20px;
    color: red;
}
.OSmarkers {
    width:22px !important;
    height: 22px !important;
    background-color: blue;
    border-radius: 15px;
    background-clip: padding-box;
    border:solid 6px rgba(6, 6, 247,0.2);
    z-index: 200;
}
.OSmarkers:hover{
    background-color: white;
    
   
    border:solid 9px rgba(6, 6, 247,0.8)
}
.nearbymarker{
    width:22px !important;
    height: 22px !important;
    background-color: #5ACE52;
    border-radius: 15px;
    background-clip: padding-box;
    border:solid 6px rgba(11, 170, 5, 0.2);

}
.nearbymarker:hover{
    background-color: white;
    border:solid 9px rgba(11, 170, 5, 0.8);

}

.reportMarkerReplied{
    width:22px !important;
    height: 22px !important;
    background-color: #5ACE52;
    border-radius: 15px;
    background-clip: padding-box;
    border:solid 6px rgba(11, 170, 5, 0.2);

}
.reportMarkerReplied:hover {
    background-color: white;
    border:solid 9px rgba(11, 170, 5, 0.8);


}
.reportMarkerPending:hover {

    background-color: white;
    border:solid 9px #F32F30;
}
.reportMarkerPending{
    width:22px !important;
    height: 22px !important;
    background-color: #F32F30;
    border-radius: 15px;
    background-clip: padding-box;
    border:solid 6px rgba(233, 18, 18, 0.2);

}

.current-location i{
   
    animation: blinkone 1.5s linear infinite;
}
@keyframes blinkone{
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.2);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    } 
     100% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    } 
}







/*
.openspace-button:hover{
    text-decoration: none;
}
.map-sidebar{
    z-index: 1500 !important;
}
.OpenSpaceScroll{
    max-width: 50px;
    overflow-y: 'scroll' ;
}
ul .scrollbar-container{
    height: 350px !important;
} */

.marker-pin {
    width: 24px;
    height: 24px;
    border-radius: 100%;

    /* border-width: 0.1rem; */
    background: #fff;
    position: absolute;
    transform: rotate(-45deg);
    left: 55%;
    top: 100%;
    margin: -15px 0 0 -14px;
    border: 1px solid #aad8ef;
}
.marker-pin:hover{
    /* background: red; */
    border: 2px solid #00aaff;
}


/*   
  .marker-pin::after {
      content: '';
      width: 24px;
      height: 24px;
      margin: 3px 0 0 3px;
      background: #fff;
      position: absolute;
      border-radius: 50%;
   } */
  
  .nearby-div-icon i {
     position: absolute;
     width: 14px;
     /* font-size: 12px; */
     left: 0;
     right: 0;
     top:50%;
     margin: 12px auto;
     text-align: center;
  }
  
  .nearby-div-icon i.awesome {
     margin: 12px auto;
     font-size: 17px;
  }

  span.legend-div {
    border: 1px solid #aad8ef;
    padding: 2px;
    border-radius: 100%;
    background: #fff;

  }

  span.legend-div-fire {
    border: 1px solid #aad8ef;
    padding: 3px;
    border-radius: 90%;
    background: #fff;

  }

#dImg {
    cursor: pointer;
    padding: 7px;
    height: 36px;
    width: 36px;
    background: #fff;
    border: 3px solid #f1f1f1;
    box-shadow: #CCCCCD -5px -3px 15px -1px
}

.loaderMap {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #174BDD;
    width: 12px;
    height: 12px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #droneimage:hover {
      /* box-shadow: 0 1px 3px 0px #5ace52; */
      background: #5ace52;
      transition: all 0.5s;
  }
  /* #droneimage_active{
      border: 1px solid red;
      background: pink;
  } */

  .imgActive {
     
    border-radius: 2px;
    box-shadow: 0px -1px 1px 2px #5ace52;
    transition: all .2s ease-in-out;
}


div.legendMuni {
    border: 2px solid rgb(105, 105, 105) !important;
    height: 18px ;
    width: 20px;
    margin-right: 10px;
}


#bell {
    color:#5ACE52
}

#bellActive {
    color:#5ACE52;
   

    animation: blinkTwo 1s linear infinite;
}

@keyframes blinkTwo{
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.8);
    }
    /* 50% {
        -webkit-transform: scale(0.4);
        transform: scale(0.5);
    } 
     100% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }  */
}



h5.muni-title{
    font-size: 0.9rem !important;
    color: #fff !important;
    font-weight: 600 !important;
}

.count {
    display: flex;

}

.count span{
    color:#fff;
    margin-left: 4px;
    margin-top: 5px;
    font-size: 0.9rem;
    
}

/* province circle markers */
.province-circle {
    background: #456BD9;
    border: 0.10em solid #0F1C3F;
    border-radius: 50%;
    /* box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125); */
    height: 20px;
    width: 20px;
    text-align: center;
  }

  .p-text{
      color: white;
      /* margin-left: 3px; */
      font-weight: 800;
  }