/* .css-2b097c-container {
    max-width:  400px !important;
    min-width: 150px;
    width: auto;
 }
.css-14jk2my-container{
    max-width:  350px;
    min-width: 150px;

} 







#north{
    height: 50px;
    width: 50px;
} */

.loc{
    width:20px;
    height:20px;
}
#close-bt-route{
    width:20px;
    height:20px;
}
#shortest{
    width:10px;
    height:10px;
    margin-right: 5px;
}
.desccard h5 {
    color: green;
    font-size: 12px;
}









/*
.openspace-button:hover{
    text-decoration: none;
}
.map-sidebar{
    z-index: 1500 !important;
}
.OpenSpaceScroll{
    max-width: 50px;
    overflow-y: 'scroll' ;
}
ul .scrollbar-container{
    height: 350px !important;
} */
