.css-2b097c-container {
    max-width:  400px !important;
    min-width: 150px;
    width: auto;
 }
.css-14jk2my-container{
    max-width:  350px;
    min-width: 150px;

} 
#legendtitle{
    padding: 4px;
    color: white;
    position: sticky;
    top: 0;
    background-color: #174BDD;
    z-index: 10;
    align-self: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.routeWrapper{
    width: 200px;
    height: 180px;
    background-color: rgba(247, 241, 241, 0.8);
    overflow: auto;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;

}
.desccard{
    width:auto;
    padding: 4px;
    cursor: pointer;

}
.pathactive{
    width:auto;
    padding: 4px;
    cursor: pointer;
    background-color: rgba(65, 201, 31,0.6);

}
#north{
    height: 50px;
    width: 50px;
}


.marker-cluster-small {
    background-color:  rgba(8, 156, 224, 0.9)  !important;
}
.marker-cluster-small div {
    background-color:  rgba(8, 156, 224, 0.9)  !important;
}
.marker-cluster-medium {
    background-color:  rgba(8, 156, 224, 0.9)  !important ;
}
.marker-cluster-medium div {
    background-color: rgba(8, 156, 224, 0.9) !important;
}
.marker-cluster-large {
    background-color: rgba(181, 179, 179,0.9) !important;
}
.marker-cluster-large div {
    background-color: rgba(0, 98, 142, 0.9) !important;
}
.marker-cluster span {
    color: white !important;
}
.marker-cluster div {
    width: 30px !important;
    height: 30px !important;
}






/*
.openspace-button:hover{
    text-decoration: none;
}
.map-sidebar{
    z-index: 1500 !important;
}
.OpenSpaceScroll{
    max-width: 50px;
    overflow-y: 'scroll' ;
}
ul .scrollbar-container{
    height: 350px !important;
} */
