<<<<<<< HEAD
footer {
    background-position: 50% 0% !important;
    .footer-top{
        text-align: center;
        margin-top:2rem;
        
        button{
            text-transform: uppercase;
            margin-top:3rem;
        }
    }
    .footer-bottom{
        margin-top: 4rem;
        padding-bottom: 2rem;
        .footer-widget{
            h5{
                color:$color-blue;
                font-weight: 700;
                font-size:1.2rem;
                margin-bottom: 1.5rem;
                text-transform: capitalize;
            }
            &.about-widget{
                padding-right: 1.5rem;
                p{
                    color:$primary-light;
                    font-size:.875rem;
                    line-height: 1.8;
                }
                .footer-logos{
                    @include flexBetween;
                    align-items: center;
                    margin:3rem 0;
                    figure{
                        margin:0;
                        max-width: 60px;
                        cursor: pointer;
                        &:nth-child(2){
                            margin:0 1rem;
                        }
                    }
                }
                .copyright{
                    p{
                        color:$primary-light;
                        margin:0;
                        font-size:.745rem;
                        line-height: 1.5;
                        a{
                            color:$primary-light;
                            font-weight: 600;
                            font-size:.775rem;
                        }
                    }
                }
            }
            &.contact-widget{
                
                ul{
                    li{
                        position: relative;
                        @include flexStart;
                        margin-bottom: .6125rem;
                        i{
                            color:$color-green;
                            margin-right: 1rem;
                            margin-top:.5rem;
                            &::before{
                                color:$color-green; 
                            }
                            &.material-icons{
                                font-size:1rem;
                                margin-top:.3rem;
                            }
                        }
                        span{
                            color:$primary-light;
                            font-size:.875rem;
                            line-height: 1.8;                        }
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
            &.app-widget{
                .apps{
                    figure{
                        cursor: pointer;
                        max-width: 120px;
                        margin:0;
                        &:last-child{
                            margin-left: 1rem;
                        }
                    }
                }
                ul{
                    margin-top:2rem;
                    .list-title{
                        padding-bottom: 5px;
                        display: block;
                        font-size: 1rem;
                        color: $color-blue;
                        font-weight: 700;
                    }
                    li{
                        margin-bottom:.5rem;
                        a{
                            color:$color-blue;
                            text-transform: uppercase;
                            font-weight: 600;
                            &:hover{
                                color:$color-green;
                            }
                        }
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:$lg-tab){
    footer {
        .footer-top{
            
            button{
                margin-top:2rem;
            }
        }
        .footer-bottom{
            margin-top:5rem;
            .footer-widget{
                h5{
                    color:$color-blue;
                    font-size:1.5rem;
                    margin-bottom: 2rem;
                }
                &.about-widget{
                    padding-right: 1rem;
                    .footer-logos{
                        margin:2rem 0;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:$mb-xl){
    footer {
        .footer-bottom{
            margin-top:3rem;
            .footer-widget{
                margin-top:1.5rem;
                &.about-widget{
                    padding-right:0;
                    .footer-logos{
                        margin:1rem 0;
                    }
                }
            }
        }
    }
}
=======
footer {
    background-position: 50% 0% !important;
    .footer-top{
        text-align: center;
        margin-top:2rem;
        
        button{
            text-transform: uppercase;
            margin-top:3rem;
        }
    }
    .footer-bottom{
        margin-top: 4rem;
        padding-bottom: 2rem;
        .footer-widget{
            h5{
                color:$color-blue;
                font-weight: 700;
                font-size:1.2rem;
                margin-bottom: 1.5rem;
                text-transform: capitalize;
            }
            &.about-widget{
                padding-right: 1.5rem;
                p{
                    color:$primary-light;
                    font-size:.875rem;
                    line-height: 1.8;
                }
                .footer-logos{
                    @include flexBetween;
                    align-items: center;
                    margin:3rem 0;
                    figure{
                        margin:0;
                        max-width: 60px;
                        cursor: pointer;
                        &:nth-child(2){
                            margin:0 1rem;
                        }
                    }
                }
                .copyright{
                    p{
                        color:$primary-light;
                        margin:0;
                        font-size:.745rem;
                        line-height: 1.5;
                        a{
                            color:$primary-light;
                            font-weight: 600;
                            font-size:.775rem;
                        }
                    }
                }
            }
            &.contact-widget{
                
                ul{
                    li{
                        position: relative;
                        @include flexStart;
                        margin-bottom: .6125rem;
                        i{
                            color:$color-green;
                            margin-right: 1rem;
                            margin-top:.5rem;
                            &::before{
                                color:$color-green; 
                            }
                            &.material-icons{
                                font-size:1rem;
                                margin-top:.3rem;
                            }
                        }
                        span{
                            color:$primary-light;
                            font-size:.875rem;
                            line-height: 1.8;                        }
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
            &.app-widget{
                .apps{
                    figure{
                        cursor: pointer;
                        max-width: 120px;
                        margin:0;
                        &:last-child{
                            margin-left: 1rem;
                        }
                    }
                }
                ul{
                    margin-top:2rem;
                    .list-title{
                        padding-bottom: 5px;
                        display: block;
                        font-size: 1rem;
                        color: $color-blue;
                        font-weight: 700;
                    }
                    li{
                        margin-bottom:.5rem;
                        a{
                            color:$color-blue;
                            text-transform: uppercase;
                            font-weight: 600;
                            &:hover{
                                color:$color-green;
                            }
                        }
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:$lg-tab){
    footer {
        .footer-top{
            
            button{
                margin-top:2rem;
            }
        }
        .footer-bottom{
            margin-top:5rem;
            .footer-widget{
                h5{
                    color:$color-blue;
                    font-size:1.5rem;
                    margin-bottom: 2rem;
                }
                &.about-widget{
                    padding-right: 1rem;
                    .footer-logos{
                        margin:2rem 0;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:$mb-xl){
    footer {
        .footer-bottom{
            margin-top:3rem;
            .footer-widget{
                margin-top:1.5rem;
                &.about-widget{
                    padding-right:0;
                    .footer-logos{
                        margin:1rem 0;
                    }
                }
            }
        }
    }
}
>>>>>>> 27827056134716d4785a34912ef3d7223824891f
