<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Openspace in Neal">
    <title>OpenSpace Portal</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Favicon-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/humanitarian-fonts.css">
    <!-- Custom Css -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="">
    <div class="app-page">
        <!-- header -->
        <header class="site-header">
            <div class="container">
                <div class="headerWrap">
                    <div class="headLeft">
                        <div class="logo">
                            <a href="index.html"><img src="images/logo.png" alt="logo"></a>
                        </div>
                    </div>

                    <div class="headRight">
                        <div class="country-logos flex-end">
                            <a class="active" href="#">
                                <img src="images/uk.png" alt="uk" />
                            </a>
                            <a href="#">
                                <img src="images/nepal.png" alt="Nepal" />
                            </a>
                        </div>
                        <nav id="site-navigation" class="main-navigation" role="navigation">
                            <div class="toggle-button">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="menu-primary-container">
                                <ul id="primary-menu" class="menu nav-menu">
                                    <li class="menu-item ">
                                        <a href="resources.html">Resources</a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="#">Reports</a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="#">Find Open Space</a>
                                    </li>
                                    <li class="menu-item menu-item-has-current">
                                        <a href="#">Mobile App</a>
                                    </li>

                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div class="breadcrumb">
            <div class="container">
                <h1>About</h1>
                <p>Open Spaces Mapping for Humanitarian Purposes</p>

            </div>
        </div>

        <main class="main-content">
            <section class="video-section ptb-150">
                <div class="container">
                    <div class="video" style="background:url(images/video.jpg)">
                        <div class="overlay"></div>
                        <a class="material-icons" href="">play_circle_filled</a>
                    </div>
                </div>
            </section>
            <section class="about-section about-video">
                <div class="container">
                    <div class="title">
                        <h3 class="openspace-title">Why map open spaces ?</h3>
                        <p>There is vital importance of open space areas that can be utilized as safe and secure housing
                            and for relief distribution during and after disastrous events. The identified open spaces
                            can be used not only during disaster but for other humanitarian purposes as well.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="about-item">
                                <figure>
                                    <img src="images/1.png" alt="" />
                                </figure>
                                <h4>Safe and secure place that can be used during disaster</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="about-item">
                                <figure>
                                    <img src="images/2.png" alt="" />
                                </figure>
                                <h4>Temporary shelter for people affected by disaster</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="about-item">
                                <figure>
                                    <img src="images/3.png" alt="" />
                                </figure>
                                <h4>Logistic Hub for retaliation against disaster</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="about-item">
                                <figure>
                                    <img src="images/4.png" alt="" />
                                </figure>
                                <h4>Relief distribution and necessary coordination</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="about-item">
                                <figure>
                                    <img src="images/5.png" alt="" />
                                </figure>
                                <h4>Cultural and entertainment programs</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="tab-section">
                <div class="container">
                    <div class="title">
                        <h3 class="openspace-title">Open Spaces Selection Criteria</h3>
                        <p>Open spaces for humanitarian purposes are selected in consultation with a multitude of
                            stakeholders including local communities, humanitarian agencies, local disaster risk
                            management committees, ward presidents, security forces among others. Open spaces failing to
                            meet the below criteria may cause further distress to the disaster affected and displaced
                            population. Identification of flat and large open spaces in the hilly terrain of Nepal is
                            itself a challenge however, the following criteria are considered for identifying open
                            spaces for humanitarian purposes and providing refuge to displaced population.
                        </p>
                    </div>
                    <div class="about-tab">
                        <div class="row">
                            <div class="col-md-4">
                                <ul class="tab-list">
                                    <li class="active">
                                        <a href="#"><small>1</small><span>Accessibility </span></a>
                                    </li>
                                    <li>
                                        <a href="#"><small>2</small><span>Security </span></a>
                                    </li>
                                    <li>
                                        <a href="#"><small>3</small><span>Access to resources and water </span></a>
                                    </li>
                                    <li>
                                        <a href="#"><small>4</small><span>Land availability and topography </span></a>
                                    </li>
                                    <li>
                                        <a href="#"><small>5</small><span>Environmental Concerns </span></a>
                                    </li>
                                    <li>
                                        <a href="#"><small>5</small><span>Size </span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-8">
                                <div class="about-tab-content">
                                    <p>Security is likely to be a key issue in high density camp. Existing security
                                        features are explained as these will assist with open space identification and
                                        camp management.</p>
                                    <ul>
                                        <li>Accessibility is a critical factor for open space identification. Many open
                                            areas have restricted road access which impacts on the establishment of the
                                            camps, movement of IDP to the camps, food supply and other camp necessities
                                        </li>
                                        <li>Extreme climatic conditions. Example: Open spaces at risk of flooding, high
                                            winds or landslides are avoided. Similarly, open spaces with high intensity
                                            electric wires are also avoided. 
                                        </li>
                                        <li>Environmental and health conditions. Example: Health risk typical for the open spaces are assessed example- malaria zones and cholera risk areas are avoided. </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>

        <footer class="site-footer pt-150" style="background:url(images/banner-shape.png)">
            <div class="footer-top">
                <div class="container">
                    <h3 class="openspace-title">find nearby open spaces</h3>
                    <button class="openspace-button" role="button">
                        find open space
                    </button>
                </div>
            </div>
            <div class="footer-bottom mt-150">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="footer-widget about-widget">
                                <figure class="footer-logo">
                                    <img src="images/logo.png" alt="footer-logo" />
                                </figure>
                                <div class="footer-logos">
                                    <figure>
                                        <img src="images/gov.png" alt="government" />
                                    </figure>
                                    <figure>
                                        <img src="images/iom.png" alt="IOM" />
                                    </figure>
                                    <figure>
                                        <img src="images/ccm.png" alt="CCM" />
                                    </figure>
                                </div>
                                <div class="copyright">
                                    <p>Copyright © 2019. <a href="#">Open Space Nepal</a> All rights reserved.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="footer-widget contact-widget">
                                <h5>Contact</h5>
                                <ul>
                                    <li><i class="humanitarian-icon-Location"></i><span>International Immigration
                                            Organization (IOM)
                                            7/1 Thirbaum Road, Baluwatar-1
                                            P.O. Box: 25503, Kathmandu, Nepal</span></li>
                                    <li><i class="humanitarian-icon-Fax"></i><span>+977 1 442 62 50</span></li>
                                    <li><i class="material-icons">call</i><span>+977 1 442 62 50</span></li>
                                    <li><i class="humanitarian-icon-E-mail"></i><span>iomnepal@iom.int</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="footer-widget app-widget">
                                <h5>Available</h5>
                                <div class="apps flex-start">
                                    <figure>
                                        <img src="images/appstore.png" alt="Ios" />
                                    </figure>
                                    <figure>
                                        <img src="images/googleplay.png" alt="Android" />
                                    </figure>
                                </div>
                                <ul>
                                    <li>
                                        <a href="#">Mofaga</a>
                                    </li>
                                    <li>
                                        <a href="#">Moha</a>
                                    </li>
                                    <li>
                                        <a href="#">MOfaga</a>
                                    </li>
                                    <li>
                                        <a href="#">moha</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <!-- Jquery Core Js -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/mainscripts.bundle.js"></script>
</body>

</html>